.searchBar {
    background-color: burlywood;
    border: none;
    padding: 1rem;
    width: 28rem;
    height: 2rem;
    border-radius: .5rem;
}

.searchBar:focus {
    outline: 1.75px blue solid
}

.searchBarContainer {
    display: flex;
    gap: 1rem;
}

.searchBarIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: .15rem;
}

@media only screen and (max-width: 960px) {
    .searchBar {
        max-width: 20rem;
    }
}

@media only screen and (max-width: 600px) {
    .searchBarContainer {
        display: none;
    }
}