.post-section {
    background-color: white;
    flex-grow: 2;
}

@media only screen and (min-wdith: 375px) {
    .post-section {
        width: 370px;
    }
}

@media only screen and (min-width: 668px) {
    .post-section {
        min-width: 650px;
    }
}

@media only screen and (min-width: 1100px) {
    .post-section {
        min-width: 1094px
    }
}